<span class = 'content'><%= wrap(object.content) %></span>
	<span class = 'timestamp'>
		Posted <%= time_ago_in_words(object.created_at) %> ago.
	</span>
	<% if current_user?(object.user) %>
		<%= link_to 'Delete', object, method: :delete, data: { confirm: 'Are you sure?'}, title: object.content %>
	<% end %>